/* Create the animation blocks */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.serv-name {
  min-height: 50px;
}

/* Spinning, gradient circle; CSS only! */
.circle {
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;

  &.red {
    background-color: #a94442;
  }

  &.green {
    background-color: #3c763d;
  }
  /* width and height can be anything, as long as they're equal */
}
